# registry=https://mirrors.huaweicloud.com/repository/npm/
# registry=https://registry.npmmirror.com/
# 上面根据自己情况进行设置np
# electron_mirror=https://npm.taobao.org/mirrors/electron/
# 上面是旧的淘宝源，想使用新的淘宝源，暂时不知道怎么找这个包（https://registry.npmmirror.com/）
# electron_mirror=https://mirrors.huaweicloud.com/electron/
electron_mirror=https://npmmirror.com/mirrors/electron/
